<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <mat-tab-group>
            <mat-tab label="Login">
              <div class="card">
                <div class="card-body">
                  <h1 class="text-center">Login</h1>
                  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                      <label for="">Email</label>
                      <input type="email" class="form-control" formControlName="email"
                      [class.is-invalid] = "loginForm.get('email').invalid && loginForm.get('email').touched">
                      <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
                      class="invalid-feedback">
                        Ingresa un email correcto.
                        <div *ngIf="loginForm.controls['email'].errors.required">
                          El email debe ser requerido
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">Contraseña:</label>
                      <input type="password" class="form-control" formControlName="password"
                      [class.is-invalid] = "loginForm.get('password').invalid && loginForm.get('password').touched">
                      <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                      class="invalid-feedback">
                        Debe tener al menos 4 caracteres
                        <div *ngIf="loginForm.controls['password'].errors.required">
                          Se necesita una contraseña
                        </div>
                      </div>
                  </div>
                  <ng-container *ngIf="invalido">
                    <div class="badge badge-danger">{{error}}</div>
                 </ng-container>
                 
                 
                  <button type="submit" class="btn btn-primary btn-lg btn-block mt-2" [disabled]="loginForm.invalid">Login</button>                 
                  </form>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Login SMS">
              <div class="card">
                <div class="card-body">
                  <h1 class="text-center">Login con SMS</h1>
                  <form [formGroup]="smsForm" (ngSubmit)="entrar()">
                    <div class="form-group">
                      <label for="">Telefono:</label>
                      <input type="text" class="form-control" formControlName="telefono" placeholder="524491234567"
                      [class.is-invalid] = "smsForm.get('telefono').invalid && smsForm.get('telefono').touched">
                      <div *ngIf="smsForm.controls['telefono'].invalid && smsForm.controls['telefono'].touched"
                      class="invalid-feedback">
                        Debe tener 12 numeros con este formato 521112223344
                        <div *ngIf="smsForm.controls['telefono'].errors.required">
                          Se necesita un numero telefonico
                        </div>
                      </div>
                      <div *ngIf="enviado" class="badge badge-success mt-2">Ya se envio el SMS</div>
                  </div>
                  <button type="button" class="btn btn-info btn-lg btn-block" (click)="enviar()" [disabled]="smsForm.controls['telefono'].invalid">Enviar</button>
                  <div class="form-group mt-2">
                      <label for="">Codigo:</label>
                      <input type="text" class="form-control" formControlName="codigo"
                      [class.is-invalid] = "smsForm.get('codigo').invalid && smsForm.get('codigo').touched">
                      <div *ngIf="smsForm.controls['codigo'].invalid && smsForm.controls['codigo'].touched"
                      class="invalid-feedback">
                        <div *ngIf="smsForm.controls['codigo'].errors.required">
                          Se debe ingresar el codigo enviado.
                        </div>
                      </div>
                  </div>
                  <ng-container *ngIf="enviadoerr">
                    <div class="badge badge-danger">{{error2}}</div>
                 </ng-container>
                  <div *ngIf="!enviado else habilitar">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="true">Login</button>
                  </div>
                  <ng-template #habilitar>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="smsForm.invalid">Login</button>
                  </ng-template>
                    
                  </form> 
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
          <div id="captcha"></div>
    </div>
</div>












