
<div class="container">
  <h3>Nuestro Menu</h3>
    <div class="row mt-2">
        <div class="col-md-8">
            <div class="container">

                <mat-accordion class="acordion" *ngFor="let dato of todosdatos">
                    <mat-expansion-panel class="panel">
                        <mat-expansion-panel-header class="h">
                          {{dato.info.Nombre}}
                        </mat-expansion-panel-header>
                        <mat-divider></mat-divider>
                          <p class="paccord">{{dato.info.Descripcion}}</p>
                          <button class="btn btn-danger" (click)="agregar(dato.id)">Agregar</button>
                        </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="col-md-4 mt-8 mb-5">
          <div class="card">
            <h2 class="card-header">Mi Orden</h2>
            <div class="card-body">
              <ng-container *ngIf="ordeno">

              <p class="card-title" *ngFor="let platillo of carrito">
                <a href="javascript:void(0)" (click)="quitar(platillo.row)"><i class="fas fa-times" style="color: red;"></i></a>
                {{platillo.Nombre}} ---------------------------- ${{platillo.Precio}}
              </p>
            </ng-container>
            <p class="card-title"><ng-container *ngIf="validado">
              <span style="color: red; text-decoration: line-through;">Total $ {{totalprov}}</span>
            </ng-container> Total $ {{total}}</p>
              <button class="btn btn-success btn-block" [disabled]="carrito.length==0" (click)="crearO()">Crear Orden</button>
            </div>
          </div>
          <div class="container mt-5">
           <button class="btn btn-block btn-info mt-5" [disabled]="carrito.length==0" (click)="tirar()">Ruleta de Descuento</button>
           <ng-container *ngIf="tiroruleta"><app-qr></app-qr>
          </ng-container>

           <p class="mt-3">Ingresa el Codigo del QR: (Una vez Validado ya no se aplicara descuento a los productos que agregues.)
            <ng-container *ngIf="validado">
              <i class="fas fa-check" style="color: greenyellow;"></i>
            </ng-container>
            <ng-container *ngIf="novalidado"><i class="fas fa-times" style="color: red;"></i></ng-container>
           </p>
           <input type="text" class="form-control" [disabled]="carrito.length==0" [(ngModel)]="validi">
           <ng-container *ngIf="tiroruleta">
            <button class="btn btn-block btn-success" (click)="validar()" [disabled]="validado">Validar</button>            
          </ng-container>
          </div>
        </div>
    </div>
</div>
