.paccord{
    width: 80%;
    text-align: justify;
    font-size: 13px;
    color: #ffffff;
}
.h{
    color: #ffffff;
    font-size: 17px;
}
.panel{
    margin: 20px;
    background-color: #E98108;
    padding: 10px;
}
.card-header{
    background-color: #E98108;
}