<div class="container-fluid my-5">
    <div class="row">
        <div class="col-lg">
            <img class="img1" src="../../../assets/bebidas.jpg" width="100%;" alt="">
        </div>
        <div class="col-lg">
            <b>
        <h1 #texto1 style="font-size: 25px; background-color: #D42F06; border-radius: 4em; text-align: center;">Acerca
          de TikiNova.</h1>
      </b>
            <p #texto2 style="text-align: justify; font-family: cursive; font-size: 20px;">
                Somos un Restaurante Bar Temático.
            </p>
            <br>
            <br>
            <p #texto3 style="text-align: justify; font-family: cursive; font-size: 20px;">
                Contamos con Amplias zonas verdes para Picnic y 4 zonas con mesas bajo techo, se permite el ingreso de mascotas (zona verde), 200 parqueaderos, Lago de Pesca, Juegos Infantiles, Animalitos.
            </p>
            <br> <br>
            <p #texto4 style="text-align: justify; font-family: cursive; font-size: 20px;">
                Nuestro Menú tiene variedad de productos Entradas, Carnes a la Parrilla, Pollo, Pescado, Mariscos, Costillas, Alitas, Brochetas, Hamburguesa, sándwich, Picadas, Opciones Vegetarianas, postres y mucho más.
            </p>


        </div>
    </div>


    <div class="container  mt-5">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card__face card__face--front">
                        <img src="../../../assets/chef.jpg" />
                    </div>
                    <div class="card__face card__face--back">
                        <img src="../../../assets/comida.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card__face card__face--front">
                        <img src="../../../assets/comida2.jpg" />
                    </div>
                    <div class="card__face card__face--back">
                        <img src="../../../assets/comida3.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card__face card__face--front">
                        <img src="../../../assets/comida4.jpg" />
                    </div>
                    <div class="card__face card__face--back">
                        <img src="../../../assets/comida5.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>