<div class="main m-4 pt-4 pb-5">
        <div class="contacto">
            <span style="font-size: 20px;"><mat-icon style="padding-top: 10px;">phone</mat-icon> 449-123-45-78</span>
            <br>
            <span style="font-size: 20px;"><mat-icon style="padding-top: 10px;">location_on</mat-icon>Universidad Autonoma de Aguascalientes </span>
            <br>
            <span style="font-size: 20px;"><mat-icon style="padding-top: 10px;">email</mat-icon>tikinova_uaa@gmail.com </span>
        </div>
        <div class="form">
            <mat-card style="background-color: gainsboro;">
                <mat-card-header>
                    <h1 style="margin: 10px; color: cadetblue;">Envíanos un mensaje</h1>
                </mat-card-header>
                <mat-card-content>
                    <mat-divider></mat-divider>
                    <form  (ngSubmit)="sendto(correo.value,nom.value,msj.value); ">
                        <p>

                            <br>
                            <label for="nom">Nombre:</label><input type="text" #nom style="width: 100%;">

                        </p>
                        <p>

                            <br>
                            <label for="correo">Correo:</label><input type="text" #correo style="width: 100%;" name="correo">

                        </p>
                        <p>

                            <br>
                            <label for="msj">Mensaje:</label><textarea #msj cols="50" rows="8" style="width: 100%;" name="msj"></textarea>

                        </p>
                        <button type="submit" class="btn btn-primary" >Enviar</button>
                        <br>
                        <p *ngIf="enviadoStatus" style="color:red;">¡Tu correo ha sido enviado!</p>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
</div>


