<div class="main m-4 pt-4 pb-5">
        <div class="contacto">
            <span style="font-size: 20px;"><mat-icon style="padding-top: 10px;">phone</mat-icon> 449-123-45-78</span>
            <br>
            <span style="font-size: 20px;"><mat-icon style="padding-top: 10px;">location_on</mat-icon>Universidad Autonoma de Aguascalientes </span>
            <br>
            <span style="font-size: 20px;"><mat-icon style="padding-top: 10px;">email</mat-icon>tikinova_uaa@gmail.com </span>
        </div>
        <div class="form">
            <mat-card style="background-color: gainsboro;">
                <mat-card-header>
                    <h1 style="margin: 10px; color: cadetblue;">Envíanos un mensaje</h1>
                </mat-card-header>
                <mat-card-content>
                    <mat-divider></mat-divider>
                    <form>
                        <p>
                        <label for="nom">
                            Nombre:
                            <br>
                            <input type="text" id="nom" style="width: 100%;">
                        </label>
                        </p>
                        <p>
                        <label for="correo">
                            Correo:
                            <br>
                            <input type="text" id="correo" style="width: 100%;">
                        </label>
                        </p>
                        <p>
                        <label for="msj">
                            Mensaje:
                            <br>
                            <textarea id="msj" cols="50" rows="8" style="width: 100%;"></textarea>
                        </label>
                        </p>
                        <input type="submit" value="Enviar" class="btn btn-primary">
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $('form').on('submit', (e)=>{
    e.preventDefault();

    const email=$('#correo').val().trim();
    const subject=$('#nom').val().trim();
    const text =$('#msj').val().trim();
    const data = {
      email,
      subject,
      text
    };

    $.post('/contacto', data, function(){
      consol.log('El servidor recibio los datos');
    });
  });
</script>
