<div class="container body pb-5 mt-5">
    <mat-accordion class="acordion">
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header class="h">
                ¿Puedo cancelar mi pedido?
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>Lamentamos informarte que el pedido una vez creado, no se puede cancelar.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header class="h">
                ¿Qué pasa si mi pedido no ha llegado?
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>Comunicate inmediatamente con nosotros, en nuestras redes sociales o vía telefonica.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header class="h">
                ¿Tengo que llamar al restaurante para confirmar mi pedido?
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>No es necesario, una vez realizado tu pedido te llegara una confirmacion vía sms.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header class="h">
                ¿Tengo que estar registrado para realizar un pedido?
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>Si, para realizar una entrega necesitamos la informacion del usuario, como lo son el nombre, metodos de pago y direccion, lo cual se obtiene mediante la cuenta del usuario.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header class="h">
                ¿Puedo modificar mi pedido?
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>El pedido no se puede modificar, podrias cancelar la solicitud e ingresar otra orden.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header class="h">
                ¿Cuál es su horario de atención?
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>Lunes - Jueves 14:00 - 20:00</p>
            <p>Viernes - Domingo 13:00 - 23:00</p>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="abs-center"><button class="myButton" [routerLink]="['/contacto']">¿Necesitas mas ayuda? <br>Contáctanos</button></div>
</div>