.item1-2 {
    display: flex;
    justify-content: center;
}

.item2 {
    background-color: cadetblue;
}

.item3 {
    width: 100%;
    padding: 25px;
}

p {
    text-align: justify;
    font-size: 22px;
    font-family: cursive;
}

.pCarusel {
    color: white;
    text-shadow: 2px 2px 1px #faa13cd3;
}

.hCarusel {
    color: white;
    text-shadow: 2px 2px 1px #faa13cd3;
}

.cupones {
    max-width: 400px;
}

.miniLogo {
    background-size: cover;
}

p,
h1,
h2,
h3,
h4,
h5 {
    color: white;
    text-shadow: 4px 4px 2px #170C6A;
    font-family: 'Bangers', cursive;
}