.item1-2 {
    display: flex;
    justify-content: center;
}

.item2 {
    background-color: cadetblue;
}

.item3 {
    width: 100%;
    padding: 25px;
}

p {
    text-align: justify;
    font-size: 22px;
    font-family: cursive;
}

.pCarusel {
    color: white;
    text-shadow: 2px 2px 1px #faa13cd3;
}

.hCarusel {
    color: white;
    text-shadow: 2px 2px 1px #faa13cd3;
}

.cupones {
    max-width: 400px;
}

.miniLogo {
    background-size: cover;
}

p,
h1,
h2 {
    color: white;
    text-shadow: 4px 4px 2px #170C6A;
    font-family: 'Bangers', cursive;
}

.demotext {
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    font-size: 35px;
    text-align: center;
}