<div class="container-fluid">
    <div class="row m-4">
        <div class="col-lg">
            <h1 style="text-shadow:2px 2px cadetblue; text-align: center; width: 100%; font-size: 30px; font-family: cursive;">"Te lo llevamos en caliente"</h1>
            <br>
            <h1 #textoh style="background-color: burlywood; width: 120px; font-family: cursive;">¿Quienes somos?</h1>
            <br>
            <p #textoh1>
                Somos un restaurante tradicional TIKI, con el objetivo principal
                de mostrar la variedad de platillos que existen de este estilo.
                En esta página web ofrecemos la oportunidad de realizar pedidos en linea.
                Contamos con algunos descuentos.
            </p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary-dark">
                <input type="radio" name="options" id="option1" autocomplete="off" (click)="start(textoh.innerHTML,textoh1.innerHTML)">
                <i class="fas fa-assistive-listening-systems fa-3x" ></i>
              </label>
              <label class="btn btn-secondary-dark">
                <input type="radio" name="options" id="option2" autocomplete="off" (click)="pause()"> <i class="fas fa-pause-circle fa-3x" ></i>
              </label>
              <label class="btn btn-secondary-dark">
                <input type="radio" name="options" id="option3" autocomplete="off"  (click)="resume()"> <i class="fas fa-play-circle fa-3x"></i>
              </label>
            </div>
        </div>
        <div class="col-lg item1-2">
            <img src="../../../assets/tiki.jpg" width="50%" alt="">
            <!--<mat-card class="cupones">
              <mat-card-header class="miniLogo">
                <div mat-card-avatar><img src="../../../assets/cabezaTiki.png"  width="50px" height="50px" alt=""></div>
                <mat-card-title>DESCUENTOS TIKINOVA</mat-card-title>
                <mat-card-subtitle>Inicia sesión para ver codigo QR</mat-card-subtitle>
              </mat-card-header>
              <app-qr></app-qr>
              <mat-card-content>
                <p>
                  Estos codigos de descuento son de un solo uso. sin tiempo limitado en el uso.
                </p>
              </mat-card-content>
            </mat-card> -->

        </div>
    </div>

    <div class="row mt-5 p-2 item2">
        <div class="col-lg">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Gran Variedad en Bebidas</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/Tikibar.jpg">
            </mat-card>
        </div>
        <div class="col-lg">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Ingredientes 100% frescos</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/platillo.jpg">
            </mat-card>
        </div>
        <div class="col-lg">
            <mat-card >
                <mat-card-header>
                    <mat-card-title>Diseño Tradicional</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/resta.jpg">
            </mat-card>
        </div>
    </div>

    <div class="item3">




        <h1 style="margin: 10px; color:orangered; padding-bottom: 15px; font-family: cursive;">En el gusto de la gente</h1>
        <app-tabla></app-tabla>






    </div>
</div>


